@using CQRS_MediatR.API.Models
@model IEnumerable<User>

@{
    ViewData["Title"] = "Список пользователей";
}

<h1>Список пользователей</h1>

<p>
    <a asp-action="Create">Добавить пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>Id</a>
            </th>
            <th>
                <a>Имя</a>
            </th>
            <th>
                <a>Логин</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
